@use "../variables" as *;

.page_layout {
  padding-top: 6rem;
  padding-bottom: 13rem;
  display: flex;
  flex-direction: column;
  gap: 40px;

  @media (min-width: $breakpoint) {
    flex-direction: row;
  }
}
