@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient {
  min-height: 100vh;
  background: black;
  color: white;
}

.no-scroll {
  @media (max-width: 900px) {
    overflow: hidden;
    height: 100%;
    width: 100%;
  }
}
