@use "./variables" as *;

@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient {
  min-height: 100vh;
  background: black;
  color: white;
}

.no-scroll {
  @media (max-width: $breakpoint) {
    overflow: hidden;
    height: 100%;
    width: 100%;
  }
}

.section {
  max-width: $page-max-width;
  padding-left: $page-padding;
  padding-right: $page-padding;
  margin: auto;
  @media (max-width: $mobile-breakpoint) {
    padding-left: $mobile-padding;
    padding-right: $mobile-padding;
  }
}
