@use "./variables" as *;

.dim_overlay {
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 40;
  display: none;
}

@mixin button-style($bg-color, $text-color) {
  padding: 1rem;
  font-size: 1.5rem;
  line-height: 2rem;
  border-radius: 1rem;
  border-color: $bg-color;
  border-width: 0.1rem;
  position: relative;
  z-index: 20;
  color: $text-color;
  white-space: nowrap;

  &::after {
    content: "";
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: $bg-color;
    opacity: 100%;
    border-radius: 0.6rem;
    transition: opacity 300ms ease-out;
  }

  &:hover {
    border-color: $bg-color;
    color: $bg-color;

    &::after {
      opacity: 0%;
    }
    border-width: 0.1rem;
  }
}

.button_white {
  @include button-style(white, black);
}

.button_black {
  @include button-style(black, white);
}

.button_grey {
  @include button-style(rgb(78, 78, 78), white);
}

.responsive_text {
  @media (max-width: 480px) {
    padding-bottom: 1rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
  @media (max-width: 767px) {
    padding-bottom: 1.5rem;
    font-size: 1.125rem;
    line-height: 1.75rem;
  }
  @media (min-width: 768px) {
    padding-bottom: 2rem;
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

.responsive_title {
  font-weight: 600;
  @media (max-width: 480px) {
    padding-bottom: 0.75rem;
    font-size: 1.5rem;
    line-height: 2rem;
  }
  @media (min-width: 480px) and (max-width: 767px) {
    padding-bottom: 1rem;
    font-size: 1.875rem;
    line-height: 2.25rem;
  }
  @media (min-width: 768px) {
    padding-bottom: 2rem;
    font-size: 3rem;
    line-height: 1;
  }
}
