.section {
  max-width: 1280px;
  padding-left: 64px;
  padding-right: 64px;
  margin: auto;
}

.dim_overlay {
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 40;
  display: none;
}

.button {
  padding: 1rem;
  font-size: 1.5rem;
  line-height: 2rem;
  border-radius: 1rem;
  border-color: white;
  border-width: 0.2rem;
  position: relative;
  z-index: 20;
  color: black;
  &::after {
    content: "";
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: white;
    opacity: 100%;
    border-radius: 0.6rem;
    transition: opacity 300ms ease-out;
  }
  &:hover {
    border-color: white;
    color: white;
    &::after {
      opacity: 0%;
    }
    border-width: 0.2rem;
  }
}

.nav_button {
  white-space: nowrap;
  border-color: white;
  border-width: 0.2rem;
  padding: 0.5rem 0.75rem;
  font-size: 1.25rem;
  line-height: 2rem;
  border-radius: 1rem;
  position: relative;
  z-index: 20;
  color: black;
  &::after {
    content: "";
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: white;
    opacity: 100%;
    border-radius: 0.6rem;
    transition: opacity 300ms ease-out;
  }
  &:hover {
    border-color: white;
    color: white;
    &::after {
      opacity: 0%;
    }
    border-width: 0.2rem;
  }
  &[data-nav-hovered="true"] {
    &::after {
      opacity: 0%;
    }
    background-color: black;
    color: white;
  }
}
