.nav_link {
  position: relative;
  transition: opacity ease-out 300ms;
  white-space: nowrap;
  &::after {
    content: "";
    height: 2px;
    width: 100%;
    background-color: white;
    display: block;
    position: absolute;
    pointer-events: none;
    transform: scaleX(0);
    opacity: 0%;
    transform-origin: left;
    transition:
      transform ease-out 300ms,
      opacity ease-out 300ms;
  }
  @media (min-width: 769px) {
    opacity: 70%;
    &:hover {
      opacity: 100%;
      &::after {
        transform: scaleX(1);
        opacity: 100%;
      }
    }
  }
}

.mobile_nav_toggle {
  display: none;
  @media (max-width: 768px) {
    display: block;
    position: absolute;
    right: 10%;
    top: 13%;
    background-image: url("/menu_hamburger.svg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 3rem;
    aspect-ratio: 3/2;
    filter: invert(100%);
  }
  &[aria-expanded="true"] {
    background-image: url("/close_icon.svg");
    aspect-ratio: 1;
    width: 2rem;
  }
}

.primary_navigation {
  @media (max-width: 768px) {
    position: absolute;
    right: 0;
    top: 200px;
    bottom: 0;
    left: 0;
    padding-top: 2rem;
    padding-left: 4rem;
    opacity: 0%;
    transition:
      300ms opacity ease-out,
      300ms visibility ease-out;
    visibility: hidden;
    &[data-visible="true"] {
      visibility: visible;
      opacity: 100%;
    }
    &[data-resizing="true"] {
      transition: none;
    }
  }
}

.navigation_items {
  display: flex;
  flex-direction: row;
  @media (max-width: 768px) {
    flex-direction: column;
  }
}
