.nav_link {
  position: relative;
  opacity: 70%;
  transition: opacity ease-out 300ms;
  &:hover {
    opacity: 100%;
    &::after {
      transform: scaleX(1);
    }
  }
  &::after {
    content: "";
    height: 2px;
    width: 100%;
    background-color: white;
    display: block;
    position: absolute;
    pointer-events: none;
    transform: scaleX(0);
    transform-origin: left;
    transition:
      transform ease-out 300ms,
      opacity ease-out 300ms;
  }
}

@media (max-width: 768px) {
  .primary_navigation {
    position: fixed;
    right: 0;
    top: 20%;
    bottom: 0;
    left: 0;
    background: red;
    flex-direction: column;
    padding-top: 2rem;
    padding-left: 4rem;
  }
  .mobile_nav_toggle {
    position: absolute;
    right: 10%;
    top: 10%;
    background-image: url("/menu_hamburger.svg");
    width: 2rem;
    height: 2rem;
  }
}
